/*
Folha de estilo Principal
*/
/* 
    Created on : 01/10/2015, 11:34:02
    Author     : Ericsson
*/

/* Formatação */

.not-padding{padding:0;}
.not-margin{margin:0;}
clearfix:before, .clearfix:after{
    clear: both;
    content: "";
    display: block;
}

/* Login */
#login {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#login section.container {
    background-color: rgba(221, 221, 221, 0.50);
    margin-top: 13%;
    box-shadow: #000 0px 5px 5px rgba(0,0,0,0.2);
    max-width: 400px;
    padding: 30px 30px;
}
    #login section.container h2 {
        color: #000;
        text-align: center;
        margin: 5px 0px 20px;
    }
    #login .form a.btn {
        padding-left: 0;
        color: #3E293C;
    }
    #login .form form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
        .input-group {
            margin-bottom: 13px;
        }
        .form form input[type=button] {
            background-color: #60077e;
            border: 0;
            padding: 5px 15px;
            color: #FFF;
            border-radius: 3px;
            float: right;
        }        
        #login .form a.btn {
            padding-left: 0;
        }
        label.error {
            background-color: #EA8404;
            color: #FBFBFB;
            padding: 7px 10px;
            width: 100%;
            margin-bottom: 0px;
        }
        .notify {
            background-color: #D8B300;
            color: #5A2F00;
            padding: 1px 5px;
            line-height: 2;
            width: 100%;
            border-radius: 0 0px 0 0;
            text-align: center;
            margin-top: -15px;
            margin-bottom: 10px;
        }
        .notify.ok {
            background-color: #00AD1E!important;
            color: #FFF;
        }
.logo img {
    margin: 0px auto;
    display: block;
    width: 100%;
    max-width: 300px;
}
.logo p {
    color: #2C0D42;
    font-size: 16px;
    padding: 15px 0px;
    text-align: center;
}

/* PAINEL */

#painel header {
    background-color: #ddd;
    padding: 10px 0px 15px;
}
#painel article {
    padding: 50px 0px;
    min-height: 400px;
}
    div#tableController_filter label {
        float: right;
    }
    #painel article input[type="search"] {
        border: solid 1px #A5A5A5;
        padding: 5px;
        margin-bottom: 30px;
    }
    #painel article select {
        padding: 7px;
        border: solid 1px #A5A5A5;
        margin-bottom: 20px;
    }
    .paginate_button {
        padding: 5px 15px;
        background-color: #ddd;
        border-radius: 5px;
        margin: 5px 3px;
        text-decoration: none;
        color: #333;
        border: #D4D4D4 solid 1px;
    }
    .paginate_button:hover, .paginate_button:focus {
        text-decoration: none;
        color: #FFF;
        background-color: #23527c;
        border-color: #23527c;
    }
    .dataTables_paginate {
        text-align: right;
    }
    nav.menu {
        margin-bottom: 30px;
    }
    .menu ul{margin: 0; padding: 0;}
    .menu li.button {
        list-style: none;
        float: left;
    }
    .menu li.button a {
        color: #FFF;
        font-size: 16px;
        text-decoration: none;
        padding: 7px 20px;
        border-radius: 5px;
        margin: 0 15px 10px 0;
    }
    .menu li.button.painel a {
        background-color: #03469A;
    }
    .menu li.button.cadastro a {
        background-color: #2F9A03;
    }
    .acoes{
        text-align: center;
    }
        .acoes i {
            font-size: 16px;
            line-height: 1;
            font-weight: bold;
        }
        .acoes i.glyphicon-pencil {
            color: #D46E01;
        }
        .acoes i.glyphicon-remove {
            color: #D20404;
        }
#painel footer {
    background-color: #60077e;
    padding: 15px 0px;
}
    #painel footer img {
        width: 100%;
        max-width: 120px;
    }
    #painel footer p {
        padding-top: 10px;
        text-align: right;
        color: #2D003C;
    }