/*
Folha de estilo Principal
*/
/* 
    Created on : 01/10/2015, 11:34:02
    Author     : Ericsson
*/

#login header {
    width: 100%;
    background-color: #ddd;
    padding: 30px 0px;
}

    #login header h1 {
    color: #60077E;
}

